table {
    border: black solid 1px;
    border-collapse: collapse;
}
td.not-in-month{
    background-color: transparent;
}
td.not-in-month:hover {
    cursor: default;
    background-color: transparent;
    color: black;
}

td {
    text-align: center;
    width: 32px;
    height: 25px;
    background-color: whitesmoke;
    margin: 1px;
}

td:hover, .month-selector:hover {
    cursor: pointer;
    background-color: #ADD8E6;
    color: black;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #fafafa;
    color: black;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
}


